.page-title-container {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 15px;
}

.page-title {
    font-weight: 900;
    color: var(--primary-blue);
    font-style: italic;
}

.page-title-icon-container {
    width: 100px;
    aspect-ratio: 1/1;
    margin-left: 20px;
}

/* TABLET*/
@media (max-width: 1024px) {
}

/* MOBILE*/
@media (max-width: 450px) {
    .page-title {
        font-size: 20px;
    }

    .page-title-icon-container {
        width: 50px;
    }
}

/* SMALL MOBILE*/
@media (max-width: 375px) {
}